<html>
    <body>
        <!-- http://${ip}/fgtauth?${magic}&username=mymoph_${username}&password=${password}'; -->
        <%=url%>
        <meta http-equiv='refresh' content='0; URL=<%=url%>'>
    </body>
</html>